* {
    box-sizing: border-box;
}

.content {
    width: 300px;
}

.form {
    
}

.form__field {
    display: flex;
    margin-bottom: 10px;
}

.form__label {
    flex: 0 0 33%;
}

.form__input {
    flex: 0 0 67%;
}

.form__footer {
    display: flex;
    justify-content: flex-end;
}

.result {
    display: none;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #00ff00;
}

.result_error {
    border-color: #ff0000;
}
